:host {
  display: inline-block;
  max-width: 100%;
  --background-color: black;
  --foreground-color: white;
  --lubber-color: darkorange;
  --heading-select-color: cyan;
  --nav1-color: magenta;
  --nav2-color: cyan;
  --stroke-width: 0.5;
}
:host[hidden] {
  display: none;
}
svg {
  width: 100%; height: auto;
}

* {
  fill: var(--foreground-color);
}

circle, #chevron-line {
  fill: none;
}

#top *,
#baseplate * {
  stroke-width: var(--stroke-width);
}

#background,
#chevron {
  fill: var(--background-color);
}

#lubber {
  stroke: var(--lubber-color);
}

#heading-select {
  fill: var(--heading-select-color);
}

#nav1-label tspan {
  fill: var(--nav1-color);
}
#nav1-course-pointer,
#nav1-deviation *,
#nav1-bearing {
  fill: var(--nav1-color);
  stroke: var(--background-color);
}

#nav2-label tspan {
  fill: var(--nav2-color);
}
#nav2-course-pointer,
#nav2-deviation *,
#nav2-bearing {
  fill: var(--nav2-color);
  stroke: var(--background-color);
}

